<h4 class="m-5 w-25 bg-light text-center">注文履歴詳細</h4>
<div class="container">
  <div class="row">
    <div class="col-lg">
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td>
            <%= @order.customer.last_name %>
            <%= @order.customer.first_name %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>