<div class="container">
  <div class="row">
    <div class="col-lg">
      <h4 class="mt-5 ml-5 w-25 bg-light text-center">注文情報入力</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <% if current_customer.cart_items.present? %>
      <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
      <h5 class="col-xs-3 font-weight-bold mb-3">支払方法</h5>
      <div class="col-xs-10">
        <%= f.radio_button :payment_method, :'クレジットカード', checked: true %>
        <%= f.label :'クレジットカード'
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>